{% extends "base.html" %}
{% set page_title = "Identity credential" %}
{% block main %}
    <div class="wrap stack">
      <div class="pagehead">
        <a class="back" href="/p/{{ person.id }}/credentials">Credentials</a>
        <span class="pagehead__sep" aria-hidden="true"></span>
        <h1 class="pagehead__title">Identity credential</h1>
      </div>
      <section class="panel" aria-labelledby="status">
        {%- set heading_tag = "h2" -%}
        {%- set id_prefix = "" -%}
        {% include "_credential_panel.html" %}
      </section>
    </div>
{% endblock %}
