{% extends "base.html" %}
{% block main %}
    <div class="wrap stack">
      <h1 class="intro__title">Wallet: Collect and present your credentials in one place</h1>
      <p class="intro__purpose">Wallet is a secure place to store your credentials, like your ID, proof of income, and benefits you receive from the government.</p>
      <div class="row">
        <a class="btn" href="{{ sign_in }}">Sign in</a>
      </div>
      <p class="landing__note">This website is not a real service. It&rsquo;s a demo. <a href="https://github.com/edmullen/credentials-demo">Learn more here</a>.</p>
    </div>
{% endblock %}
